<app-header></app-header>
<div
  class="container-fluid"
  style="
    background: rgb(245, 255, 5);
    background: linear-gradient(
      273deg,
      rgba(245, 255, 5, 1) 50%,
      rgba(165, 255, 25, 1) 100%
    );
  "
>
  <div class="ms-5 row" style="min-height: 400px;">
    <div class="col-lg-6 ps-5">
      <img
        class="ps-5"
        width="100%"
        src="https://static.vecteezy.com/system/resources/previews/032/499/551/non_2x/cooked-turkey-with-transparent-background-ai-generative-free-png.png"
        alt=""
      />
    </div>
    <div class="col-lg-6 mt-5 pt-5">
      <h1 class="mt-5 pt-5">
        Welcome to
        <span class="text-success">Recipe World</span>
      </h1>
      <p>Discover 100+ recipes in your hand with the best recipe provider</p>
    </div>
  </div>
  <div class="row align-item-center pb-5">
    <div class="col-lg-2"></div>
    <div class="col-lg-4">
      <h1>About Us</h1>
      <p style="text-align: justify;">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Numquam
        reiciendis illo eaque. Animi consequuntur vero autem quisquam, harum,
        quo provident libero quae hic deserunt at dolores! Recusandae odio
        accusamus quo? Quae possimus mollitia, placeat sapiente minus vel totam.
        Nam quo assumenda voluptatibus voluptas. Doloremque debitis totam eum
        repellat atque ratione! Nesciunt voluptas explicabo voluptatibus eos
        quibusdam, iusto voluptate aliquid maiores.
      </p>
      <ul>
        <li>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</li>
        <li>Vel est optio qui, neque id tenetur repellendus</li>
        <li>dolores magni ducimus suscipit non quidem vitae animi</li>
        <li>doloremque inventore, fugiat ipsa voluptatibus veniam!</li>
      </ul>
    </div>

    <div class="col-lg-6" style="margin-top: -40px;">
      <img
        width="80%"
        src="https://png.pngtree.com/png-clipart/20230319/original/pngtree-fried-fish-with-vegetables-png-image_8996736.png"
        alt=""
      />
    </div>
  </div>
</div>
