<div
  style="
    height: 100vh;
    background: rgb(245, 255, 5);
    background: linear-gradient(
      273deg,
      rgba(245, 255, 5, 1) 50%,
      rgba(165, 255, 25, 1) 100%
    );
  "
  class="container-fluid d-flex justify-content-center align-items-center flex-column"
>
  <h4>Login</h4>
  <p>Explore 100+ Recipes in your hand..</p>
  <div class="shadow bg-light rounded p-5 mt-5" style="width: 400px;">
    <div class="mb-3 text-center">
      <h3>
        <i class="fa-solid fa-utensils fa-bounce me-2 fs-2"></i>
        Recipe World
      </h3>
    </div>
    <div class="mb-3 text-center">
      <input
        type="email"
        placeholder="Enter Your Email"
        class="form-control"
        name=""
        id=""
      />
    </div>
    <div class="mb-3 text-center">
      <input
        type="password"
        placeholder="Enter Your Password"
        class="form-control"
        name=""
        id=""
      />
    </div>
    <div class="d-grid">
      <button class="btn btn-success">Login</button>
    </div>
  </div>
</div>
