<app-header></app-header>
<div
  class="container-fluid"
  style="background-color: rgba(245, 255, 55, 0.861);"
>
  <div class="row p-md-5">
    <div class="col-lg-2"></div>
    <div class="col-lg-4 mt-5 fw-bolder">
      <h1>Most Easiest way to make your Favorite Dish</h1>
      <p>Enjoy 1000+ recipes in your hand..</p>
      <a routerLink="/recipes" class="btn btn success btn-outline-warning t">
        Explore our Recipes
      </a>
    </div>
    <div class="col-lg-6">
      <img
        class="foodImg"
        src="https://png.pngtree.com/png-vector/20240710/ourmid/pngtree-burger-with-floating-ingredient-png-image_13054386.png"
        alt=""
      />
    </div>
  </div>
  <!-- popular recipes -->
  <div class="my-3 p-5">
    <h1 class="d-flex justify-content-start">Popular Recipes of the week</h1>
    <div class="d-flex justify-content-end">
      <a routerLink="/recipes">View All</a>
    </div>
    <div class="d-flex justify-content-center mt-5">
      <p class="text-success fs-3">Out most popular Recipe of the week</p>
    </div>
    <div class="row">
      <div class="col-lg-8">
        <div class="p-3">
          <img
            width="100%"
            src="https://png.pngtree.com/png-vector/20240324/ourmid/pngtree-chicken-biryani-plate-with-leg-piece-front-view-png-image_12238410.png"
            alt=""
          />
          <div class="card-body">
            <h4>Title</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- banner -->
  <div
    class="row align-item-center my-5"
    style="
      height: 400px;
      background-repeat: no-repeat;
      background-size: cover;
      background-image: url(https://i.pinimg.com/1200x/02/99/02/0299026ae1a0156e20f94b05c6079312.jpg);
    "
  >
    <div class="col-lg-6"></div>
    <div class="col-lg-6 mt-5 pt-5">
      <h5 class="bg-light rounded text-dark p-3 w-75 mt-5">
        50+ Recipes that quick and fast
      </h5>
      <p class="text-light mt-3">
        FInd the perfect food ideas to start your day...
      </p>
    </div>
  </div>
  <!-- download -->
  <div
    style="height: 300px;"
    class="row  text-light align-items-center-bg-success rounded  ms-md-5"
  >
    <div class="col-lg-5">
      <img
        style="width: 300px; margin-left: 100px ; margin-top: -20px;"
        src="../../assets/Download-Icon.png"
        alt=""
      />
    </div>
    <div class="col-lg-6 text-center mt-4 text-dark">
      <h1>Download App</h1>
      <h5>
        Download the App from App Store or
        <br />
        Google Play fot better experience
      </h5>
      <div class="d-flex justify-content-center align-items-center ">
        <img width="200px"
          src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/78/Google_Play_Store_badge_EN.svg/1200px-Google_Play_Store_badge_EN.svg.png"
          alt=""
        />
        <img width="165px"
          src="https://www.nicepng.com/png/full/25-253876_app-store-and-google-play-with-your-own.png"
          alt=""
        />
        
      </div>
    </div>
  </div>

  <!-- client testimonials -->
   <div class="text-center ny-5">
    <h1>Client Testimonials</h1>
    <marquee behavior="" direction="'">
        <div class="row my-5">
            <div class="col-lg-4">
                <div class="rounded border bg-light w-100 p-4 shadow">
                    <h5>Name</h5>
                    <p style="white-space: normal; width: 100%; text-align: justify;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime tempora exercitationem nobis magnam assumenda possimus officiis saepe. Ut quos nobis cumque voluptate voluptatum, ad, repellendus, impedit molestias possimus laudantium enim.
                    Rerum optio, ab eaque at assumenda impedit, modi aliquam illum laudantium ullam quam eligendi quas excepturi. Magni officiis dignissimos mollitia, unde harum adipisci labore. Odio praesentium explicabo molestiae modi accusamus?</p>
                </div>
            </div>
        </div>
    </marquee>

   </div>
</div>
