<div class="container-fluid" style="
height: 100vh;
background: rgb(245, 255, 5);
background: linear-gradient(
  273deg,
  rgba(245, 255, 5, 1) 50%,
  rgba(165, 255, 25, 1) 100%
);
">
  <div class="row align-items-center" style="height: 100vh">
    <div class="col-lg-2"></div>
    <div class="col-lg-4">
      <h4 class="text-center">Register</h4>
      <p class="text-center"> Explore 100+ Recipes in your hand..</p>
      <div class="shadow bg-light rounded p-5 mt-5" >
        <div class="mb-3 text-center">
          <h3>
            <i class="fa-solid fa-utensils fa-bounce me-2 fs-2"></i>
            Recipe World
          </h3>
        </div>
        <div class="mb-3 text-center">
          <input
            type="text"
            placeholder="Enter Your Username"
            class="form-control"
            name="username"
            id=""
          />
        </div>
        <div class="mb-3 text-center">
          <input
            type="email"
            placeholder="Enter Your Email"
            class="form-control"
            name=""
            id=""
          />
        </div>
        <div class="mb-3 text-center">
          <input
            type="password"
            placeholder="Enter Your Password"
            class="form-control"
            name=""
            id=""
          />
        </div>
        <div class="d-grid">
          <button class="btn btn-success">Register</button>
        </div>
      </div>
    </div>
    <div class="col-lg-1"></div>
    <div class="col-lg-4">
        <h4>Create Account</h4>
        <h6>What will you get?</h6>
        <ul class="mt-5">
            <li>Different Recipes</li>
            <li>Easy way to make Recipe</li>
            <li>Save your Favorite Recipe</li>
            <li>Download your Recipe</li>
        </ul>
    </div>
  </div>
</div>
